table {
  thead {
    padding: 10px 0;
    background-color: rgb(175, 174, 174);
    th {
      text-align: center;
      font-size: 18px;
      font-weight: 700;
    }
  }
  tr {
    padding: 10px 0;
    background-color: white;
    align-items: center;
  }
  td {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
  }

  .Grid {
    display: grid;
    grid-template-columns: 24% 31% 19% 16% 10%;
  }
}

.border {
  border: 1px solid black;
}
