<section class="w-full h-full mt-10 flex flex-col items-center">
  <!-- Username -->
  <div class="box">
    <h1>Username</h1>
    <input type="text" class="Input" />
  </div>
  <!-- Email -->
  <div class="box">
    <h1>Email</h1>
    <input type="text" class="Input" />
  </div>
  <!-- Phone -->
  <div class="box">
    <h1>Phone</h1>
    <input type="text" class="Input" />
  </div>
  <!-- City -->
  <div class="box">
    <h1>City</h1>
    <input type="text" class="Input" />
  </div>

  <!-- Login -->
  <button class="btn mt-5" role="button">Submit</button>
</section>
