<section class="outline h-full flex w-full rounded-[10px]">
  <div class="left w-[25%] h-full" style="border-right: 2px solid black">
    <ul class="w-full h-full pt-5">
      <li class="pl-5 py-3 text-[18px] w-full font-bold">
        <a class="w-full block" routerLink="Register-user">Register</a>
      </li>
      <li class="pl-5 py-3 text-[18px] w-full font-bold">
        <a class="w-full block" routerLink="user-list">List</a>
      </li>
    </ul>
  </div>
  <div class="right w-[75%] h-full p-3">
    <router-outlet></router-outlet>
  </div>
</section>
